@page
@model IndexModel
@{
    ViewData["Title"] = "Inbox";
}

@section Scripts {
    <script src="~/js/todoitems.js"></script>
}

@Html.AntiForgeryToken()

<div>
    <form asp-page-handler="SaveTodo">
        <input type="text" class="form-control" placeholder="New ToDo" asp-for="@Model.NewToDo.Title" />
        <textarea class="form-control" placeholder="Description" asp-for="@Model.NewToDo.Description"></textarea>
        <input type="date" class="form-control" asp-for="@Model.NewToDo.DueDate" />
        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
</div>

<br />

<h3>All Active</h3>
<div id="todotable">
    @await Component.InvokeAsync(nameof(Components.ToDoTableView))
</div>
