@page "{id:int}"
@model Lister.Web.Pages.Lists.ListItemsModel
@using Lister.Application.Extensions
@{
    ViewData["Title"] = $"{Model.SelectedList.Title}";
}

<h1>@Model.SelectedList.Title</h1>

<div class="todotable">
    @await Component.InvokeAsync(nameof(Components.ToDoTableView))    
</div>
